
  {% load staticfiles %}

<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Manish Khandelwal</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />

	<!--
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE
	DESIGNED & DEVELOPED by FreeHTML5.co

	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

    <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

	<!-- Animate.css -->

	<!-- Icomoon Icon Fonts-->

	<!-- Bootstrap  -->


	<!-- Theme style  -->


	<!-- Modernizr JS -->

	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->



    <link href="{% static 'css/bootstrap.css'%}" rel="stylesheet">
    <link href="{% static 'css/icomoon.css'%}" rel="stylesheet">
    <link href="{% static 'css/animate.css'%}" rel="stylesheet">
    <link href="{% static 'css/style.css'%}" rel="stylesheet">
    <script src="{% static 'js/modernizr-2.6.2.min.js'%}"></script>


	</head>
	<body>



	<div id="page">
	<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" style="background-image:url({% static 'images/cover_bg_3.jpg'%});" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t js-fullheight">
						<div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
							<div class="profile-thumb" style="background: url({% static 'images/manish.jpg'%}) ;width:280px; height:280px;" ></div>
							<h1><span>Manish Khandelwal</span></h1>
							<h3><span>Mechanical Engineer / Developer</span></h3>
							<p>
								<ul class="fh5co-social-icons">
									<li><a href="https://twitter.com/ManishK28030300"><i class="icon-twitter2"></i></a></li>
                                    <li><a href="https://www.linkedin.com/in/manish-khandelwal-68872315b/"><i class="icon-linkedin2"></i></a></li>
                                    <li><a href="https://www.facebook.com/people/Manish-Khandelwal/100019267571152"><i class="icon-facebook2"></i></a></li>
                                    <li><a href="{% static 'my-resume.pdf'%}"><i class="icon-document" ></i></a></li>

								</ul>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-about" class="animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>About Me</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<ul class="info">
						<li><span class="first-block">Full Name:</span><span class="second-block">Manish Khandelwal</span></li>
						<li><span class="first-block">Phone:</span><span class="second-block">+91 8619179839</span></li>
						<li><span class="first-block">Email:</span><span class="second-block">manishn9887@gmail.com</span></li>
						<li><span class="first-block">Website:</span><span class="second-block">https://manish-khandelwal.herokuapp.com/</span></li>
						<li><span class="first-block">Address:</span><span class="second-block">SKIT College, Ramnagaria, Jagatpura; Jaipur-302017</span></li>
					</ul>
				</div>
				<div class="col-md-8">
					<h2>Hello There!</h2>
					<p>My name is Manish Khandelwal. I am pursuing B.Tech. in Mechanical Engineering from SKIT College,Jaipur. I have good knowledge of Designing software like SolidWorks, AutoCAD and CAM software like Autodesk Fusion 360 . I am good also in coding skills. Machines always fascinated me and I want to code them in my way. Thus, I opted for Mechanical Engineering as my branch for under graduation. I joined the Robotics Club of the college in the first year. I enjoy making combinations of IT with Mechanical. I would love to work in the field of Mechatronics if I get chance sometime. I have participated in many intra and intercollege competitions of Designing and coding .</p>

					<p>
						<ul class="fh5co-social-icons">
                            <li><a href="https://www.linkedin.com/in/manish-khandelwal-68872315b/"><i class="icon-linkedin2"></i></a></li>

                        	<li><a href="https://twitter.com/ManishK28030300"><i class="icon-twitter2"></i></a></li>
							<li><a href="https://www.facebook.com/people/Manish-Khandelwal/100019267571152"><i class="icon-facebook3"></i></a></li>
                            <li><a href="{% static 'my-resume.pdf'%}"><i class="icon-document" ></i></a></li>
						</ul>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-resume" class="fh5co-bg-color">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>My Resume</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-md-offset-0">
					<ul class="timeline">

                        <li class="timeline-heading text-center animate-box">
                            <div><h3>Education</h3></div>
                        </li>

                        <li class="animate-box timeline-unverted">
                            <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3 class="timeline-title">Bachelors Degree</h3>
                                    <span class="company"><a href="https://www.skit.ac.in/">SKIT Jaipur</a> 2017-2021</span>
                                </div>
                                <div class="timeline-body">
                                    <p> Score 76% upto 6th sem.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted animate-box">
                            <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3 class="timeline-title">Senior Secondary</h3>
                                    <span class="company"><a href="https://a-k-m-sr-sec-school.business.site/">A.K.M. Senior Secondary school</a> 2016</span>
                                </div>
                                <div class="timeline-body">
                                    <p>Studied XI and XII (PCM) at this prestigious institution affiliated by RBSE and score 89% with 99% in PCM</p>
                                </div>
                            </div>
                        </li>
                        <li class="animate-box timeline-unverted">
                            <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3 class="timeline-title">Preparatory Education</h3>
                                    <span class="company"><a href="https://a-k-m-sr-sec-school.business.site/">A.K.M. Senior Secondary school</a> 2002-2014</span>
                                </div>
                                <div class="timeline-body">
                                    <p> Studied upto X class and scored 91% in RBSE X Exam</p>
                                </div>
                            </div>
                        </li>




						<br>

			    	</ul>
				</div>
			</div>
		</div>
	</div>




	<div id="fh5co-skills" class="animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Skills</h2>
				</div>
			</div>
			<div class="row row-pb-md">

				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="80"><span><strong>AutoCAD</strong>80%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="82"><span><strong>SolidWorks</strong>82%</span></div>
				</div>

				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="70"><span><strong>Autodesk Fusion 360</strong>70%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="75"><span><strong>C Language</strong>75%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="70"><span><strong>C++ OOPS</strong>70%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="65"><span><strong>Python</strong>65%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="70"><span><strong>Django</strong>70%</span></div>
				</div>

                <div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="60"><span><strong>Arduino IDE</strong>60%</span></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="progress-wrap">
						<h3><span class="name-left">AutoCAD</span><span class="value-right">80%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-1 progress-bar-striped active" role="progressbar"
						  aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:90%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">SolidWorks</span><span class="value-right">82%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-2 progress-bar-striped active" role="progressbar"
						  aria-valuenow="82" aria-valuemin="0" aria-valuemax="100" style="width:90%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Autodesk Fusion 360</span><span class="value-right">70%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-3 progress-bar-striped active" role="progressbar"
						  aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:80%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">C Language</span><span class="value-right">75%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-4 progress-bar-striped active" role="progressbar"
						  aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:85%">
						  </div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="progress-wrap">
						<h3><span class="name-left">C++ OOPS</span><span class="value-right">70%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-5 progress-bar-striped active" role="progressbar"
						  aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:80%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Python</span><span class="value-right">65%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-striped active" role="progressbar"
						  aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width:70%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Django</span><span class="value-right">70%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-1 progress-bar-striped active" role="progressbar"
						  aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:80%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Arduino IDE</span><span class="value-right">60%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-3 progress-bar-striped active" role="progressbar"
						  aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:65%">
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-work" class="fh5co-bg-dark">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Projects</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://drive.google.com/drive/folders/1WhRPVG3T5FFjz-tpJWwc428TOkTBfWRb?usp=sharing" class="work" style="background-image: url({% static 'images/city13.JPG'%});">
						<div class="desc">
							<h3>Car design</h3>
							<h5 color='red'>Solidworks Surface modelling </h5>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://morning-falls-69661.herokuapp.com/place/302/" class="work" style="background-image: url({% static 'images/Exotic-Rajasthan-tour.jpg'%});">
						<div class="desc">
							<h3>Tourist Guide Website</h3>
							<h5>A website which contain information about almost 150 places in 40 Languages </h5>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://drive.google.com/file/d/1-QyALxq-QtdsRQya01_VBEfOoZ5LiWfF/view?usp=sharing" class="work" style="background-image: url({% static 'images/arduino.png'%});">
						<div class="desc">
							<h3>Automatic Counter</h3>
							<h5>Arduino based counter using IR sensor and 16*2 LCD display</h5>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="#" class="work" style="background-image: url({% static 'images/sudoku.png'%});">
						<div class="desc">
							<h3>Sudoku Solver</h3>
							<h5>Solve any sudoku using Sudoku solver python GUI Application</h5>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="#" class="work" style="background-image: url({% static 'images/ecom.jpg'%});">
						<div class="desc">
							<h3>E-commerce Website</h3>
							<h5 >A django project</h5>
						</div>
					</a>
				</div>

			</div>
		</div>
	</div>





	<div id="fh5co-consult">
		<div class="video fh5co-video" style="background-image: url({% static 'images/portfolio-1.jpg'%});">
			<div class="overlay">
                <br><br><br>
                <ul class="info">
                    <li><span class="first-block">Full Name:</span><span class="second-block">Manish Khandelwal</span></li>
                    <li><span class="first-block">Phone:</span><span class="second-block">+91 8619179839</span></li>
                    <li><span class="first-block">Email:</span><span class="second-block">manishn9887@gmail.com</span></li>
                    <li><span class="first-block">Website:</span><span class="second-block">https://manish-khandelwal.herokuapp.com/</span></li>
                    <li><span class="first-block">Address:</span><span class="second-block">SKIT College, Ramnagaria, Jagatpura; Jaipur-302017</span></li>
                </ul>
            </div>
		</div>
		<div class="choose animate-box">
			<h2>Contact</h2>
			<form method="POST" action="{% url 'Contact' %}">
                {% csrf_token %}
				<div class="row form-group">
					<div class="col-md-6">
						<input type="text" name="fname" class="form-control" placeholder="Your Name">
					</div>
				</div>


				<div class="row form-group">
					<div class="col-md-12">
						<input type="text" name="email" class="form-control" placeholder="Your email address">
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-12">
						<input type="text" name="subject" class="form-control" placeholder="Your subject of this message">
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-12">
						<textarea name="message" id="message" cols="30" rows="10" class="form-control" placeholder="Say something about us"></textarea>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" value="Send Message" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
				</div>

			</form>
		</div>
	</div>


	</div>
    <br>
    <br>




        <!--
            <a href="https://drive.google.com/drive/folders/1WhRPVG3T5FFjz-tpJWwc428TOkTBfWRb?usp=sharing" class="work" style="background-image: url({% static 'images/city13.JPG'%});">
                <div class="desc">
                    <h3>Car design</h3>
                    <span>Solidworks Surface modelling </span>
                </div>
            </a> -->


    <div class="container">
        <div class="row">
            <div class="col-md-3 text-center col-padding animate-box">
    <h2 align=center ><u><code>MAPS</code></u></h2>
    <div class="mapouter"><div class="gmap_canvas"><iframe width="410" height="380" style="align:left;" id="gmap_canvas" src="https://maps.google.com/maps?q=Arya%20Samaj%20Road,%20Gurjar%20Mohalla,%20Tara%20Mahendra%20Colony,%20Bharatpur,%20Rajasthan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="20" marginwidth="20"></iframe></div><style>.mapouter{position:relative;text-align:right;height:410px;width:380px;}.gmap_canvas {overflow:hidden;background:none!important;height:410px;width:380px;}</style></div>
</div>
    </div>
</div>


	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
	</div>




    <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label=""><span>×</span></button>
                     </div>

                    <div class="modal-body">

						<div class="thank-you-pop">
							<img src="http://goactionstations.co.uk/wp-content/uploads/2017/03/Green-Round-Tick.png" alt="">
							<h1>Thank You!</h1>
							<p>Your submission is received and we will contact you soon</p>


 						</div>

                    </div>

                </div>
            </div>
        </div>

	<!-- jQuery -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'js/bootstrap.min.js'%}"></script>
	<!-- Waypoints -->
	<script src="{% static 'js/jquery.waypoints.min.js'%}"></script>
	<!-- Stellar Parallax -->
	<script src="{% static 'js/jquery.stellar.min.js'%}"></script>
	<!-- Easy PieChart -->
	<script src="{% static 'js/jquery.easypiechart.min.js'%}"></script>
	<!-- Google Map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
	<script src="{% static 'js/google_map.js'%}"></script>

	<!-- Main -->
	<script src="{% static 'js/main.js'%}"></script>

	</body>
</html>
